:root {
    --primary-color:#31708e; 
    --special-color: #687864;
    --blue-color: #5085a5; 
    --lightBlue: #8fc1e3;
    --white-color: #f7f9fb;
    --custom-blue:  #def0f9;
    --circle-blue: #d3ecfd;
    --menu-font: "yekan-bold";
    --special-font: "aviny";
    --primary-font: "yekan-regular"
}